#nav_bar {
margin:0px;
padding:0px;
}
#nav_bar a{
	text-decoration:none;
	font-size:1.23em;
	border: solid 1px green;
	border-radius: 0.34em;
	-webkit-border-radius: 0.34em;
	-moz-border-radius: 0.34em;
	box-shadow: 0.1em 0.05em 0.1em #080000 ;
	-o-box-shadow: 0.1em 0.05em 0.1em #080000;
	-webkit-box-shadow: 0.1em 0.05em 0.1em #080000;
	-moz-box-shadow: 0.1em 0.05em 0.1em #080000;
	
	background: linear-gradient(25deg, #989898 , #707070);
	background: -webkit-linear-gradient(25deg, #989898 , #707070);
	background: -moz-linear-gradient(25deg, #989898 , #707070);
	background: -o-linear-gradient(25deg, #989898 , #707070);
	padding:0px;
	margin:0px;
	
}